build/
build-*/
*.o
*.a
*.exe
*.dll
*.so
*.dylib
*.obj
*.user
*.autosave
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
.idea/
.vscode/
.vs/
*.swp
*.bak
*~
Thumbs.db
.DS_Store
__pycache__/
*.pyc
